<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MySu Food</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/admin/css/sb-admin-2.min.css}" rel="stylesheet">

    <link th:href="@{/admin/css/custom.css}" rel="stylesheet">
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="admin/menu :: menu"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="admin/search :: search"></div>

            <div class="table-responsive">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>
                                Danh sách tài khoản
                            </h2>
                        </div>

                    </div>
                </div>
                <table class="table table-bordered" style="font-size: 13px;">
                    <thead>
                    <tr id="list-header">
                        <th style="width: 5%;">STT</th>
                        <th style="width: 15%;">Họ và tên</th>
                        <th>Email</th>
                        <th style="width: 8%;">Số điện thoại</th>
                        <th style="width: 13%;">Ngày tạo</th>
                        <th style="width: 8%;">Quyền</th>
                        <th style="width: 20%;">Địa chỉ</th>
                        <th style="width: 9%;">
                            <button type="button" class="btn btn-primary" id="button-add"
                                    data-toggle="modal" data-target="#exampleModal">Them
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="user-list">
                    <tr th:each="user, index: ${users.users}">
                        <td th:text="${index.count}" class="text-center user-index"></td>
                        <td th:text="${user.fullname}"></td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.phone}"></td>
                        <td th:text="${user.createDate}"></td>
                        <td th:text="${user.role.name}"></td>
                        <td th:text="${user.address}"></td>
                        <td><a class="user-edit" title="Edit" th:data="${user.id}"
                               style="color: orange;" data-toggle="modal"
                               data-target="#exampleModal"> <i class="fas fa-pen"></i>
                        </a> <a class="delete user-delete" title="Delete" data-toggle="modal" data-target="#exampleDelete"
                                th:data="${user.id}" th:data-index="${index.count}"> <i
                                class="fas fa-trash"></i>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
                <ul class="pagination justify-content-end" style="margin:20px 0">
                    <li th:each="page: ${users.pagination.getTotalPage}"
                        th:data="${page}" th:class="'page-item '+${page == users.pagination.page ? 'active' : ''}">
                        <a class="page-link" href="javascript:void(0)" th:text="${page}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Thêm mới tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" class="row" id="fileUploadForm">
                    <div class="col-12 user-error"></div>
                    <div class="col-3">
                        <label class="style-label" for="fullname">Họ và tên <span class="required">*</span></label>
						<span class="error-message label-fullname"></span>
						<label class="style-label" for="email">Email <span class="required">*</span></label>
						<span class="error-message label-email"></span>
						<label class="style-label user-pass" for="password">Mật khẩu <span class="required">*</span></label>
						<span class="error-message label-password"></span>
						<label class="style-label" for="phone">Số diện thoại <span class="required">*</span></label>
						<span class="error-message label-phone"></span>
						<label class="style-label user-city">Tỉnh/Tp </label>
						<label class="style-label user-district">Quận/Huyện </label>
						<label class="style-label user-ward">Phường/Xã </label>
						<label class="style-label" for="address">Địa chỉ </label>
						<label class="style-label">Quyền <span class="required">*</span></label>
                    </div>
                    <div class="col-9">
                        <div class="form-group">
                            <input type="text" class="form-control" name="fullname" id="fullname"
                                   aria-describedby="helpId" placeholder="Họ và tên"/>
							<span class="error-message fullname"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" id="email"
                                   aria-describedby="helpId" placeholder="Email"/>
							<span class="error-message email"></span>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password"
                                   aria-describedby="helpId" placeholder="Mật khẩu"/>
							<span class="error-message password"></span>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="phone" id="phone"
                                   aria-describedby="helpId" placeholder="Số điện thoại"/>
							<span class="error-message phone"></span>
                        </div>

                        <div class="form-group">
                            <select name="city" id="pay-city" class="form-control">
                                <option value="-1" class="required_form">Chọn Tỉnh/Tp</option>
                                <option th:each="city : ${cities}" th:text="${city.cityName}"
                                        th:value="${city.cityId}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select name="district" id="pay-district" data-city="0" class="form-control">
                                <option value="-1">Chọn Quận/Huyện</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select name="ward" id="pay-ward" data-district="0" class="form-control">
                                <option value="-1">Chọn Phường/Xã</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="address" id="address"
                                   aria-describedby="helpId" placeholder="Địa chỉ"/>
                        </div>

                        <div class="form-group">
                            <select name="role" class="form-control">
                                <option value="0">Chọn quyền</option>
                                <option value="1">Quản trị viên</option>
                                <option value="2">Khách hàng</option>
                            </select>
							<span class="error-message role"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" id="add-user"
                        data-flag="0">Thêm mới
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="#exampleDelete" tabindex="-1" role="dialog" aria-labelledby="#exampleDeleteTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleDeleteTitle">MySu Food</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         Bạn chắc muốn xoá tài khoản này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary user-delete">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i
        class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready
                to end your current session.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel
                </button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/admin/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/admin/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/admin/js/demo/chart-pie-demo.js}"></script>

<script th:src="@{/admin/js/custom.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>