<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title></title>
</head>
<body>
	<footer class="ftco-footer ftco-section img" style="width:100%; height:450px">
		<div class="container" style="width:1200px; height:210px">
			<div class="row">
				<div class="col-lg-2 col-md-6">
					<div class="ftco-footer-widget mb-4">
						<img th:src="@{/images/logo1.gif}" style="width: 100%">
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Bạn có thắc mắc?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker" style="color:red;"></span><span class="text">Số
										31, phố Hàng Bông, Hoàn Kiếm, Hà Nội</span></li>
								<li><a href="#"><span class="icon icon-phone" style="color:red"></span><span
											class="text">0868 257 328</span></a></li>
								<li><a href="#"><span class="icon icon-envelope" style="color:red;"></span><span
											class="text">Email: mysu.food@gmail.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-5">
					<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">Dịch vụ</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Đầu bếp</a></li>
							<li><a href="#" class="py-2 d-block">Giao hàng</a></li>
							<li><a href="#" class="py-2 d-block">Món ăn đặc biệt</a></li>
							<li><a href="#" class="py-2 d-block">Tổng hợp</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2">Tham gia trên</h2>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft" style="width:100%">
			                <li class="ftco-animate fadeInUp ftco-animated">
			                	<a href="#"><span class="icon-twitter"></span></a>
			                </li>
			                <li class="ftco-animate fadeInUp ftco-animated">
			                	<a href="#"><span class="icon-facebook"></span></a>
			                </li>
			                <li class="ftco-animate fadeInUp ftco-animated">
			                	<a href="#"><span class="icon-instagram"></span></a>
			                </li>
			              </ul>
					</div>
				</div>
				
				
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> Đã đăng ký bản quyền| Bản quyền này
						thuộc về <i class="icon-heart" aria-hidden="true" style="color:red;"></i> <a
							href="https://colorlib.com" target="_blank">MySu Food</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>