<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title></title>
</head>
<body>
<nav
        class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
        id="ftco-navbar" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" th:href="@{/trang-chu}">
            <img th:src="@{/images/logo1.gif}" style="width: 11vh;" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#ftco-nav" aria-controls="ftco-nav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a th:href="@{/trang-chu}" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Menu</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Dịch vụ</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Phản hồi</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Giới thiệu</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Liên hệ</a></li>
            </ul>
            <ul class="menu-icon">
                <li><a th:href="@{/gio-hang}"><i class="fas fa-cart-plus" style="color: #fff;"></i></a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/dang-nhap}"><i class="fa fa-user"
                                                                                     style="color: #fff;"></i></a></li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" th:title="${#request.userPrincipal.name}"><i class="fa fa-sign-out-alt"
                                                                                         style="color: #fff;"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>